---
openapi: 3.0.0
info:
  title: Autify API
  version: v1
  description: |
    ## Authorization
    You can authenticate the API by using a personal access token and passing it to the Bearer header. To generate or manage API keys、please visit [your account page](https://app.autify.com/settings).

    If the credentials are invalid or omitted, an error message is returned with status code 401：
    ```
    {
      "errors":[{
        "message": "Bad credentials"
      }]
    }
    ```
servers:
- url: https://app.autify.com/api/v1/
  description: Production server
paths:
  "/schedules/{schedule_id}":
    post:
      operationId: executeSchedule
      summary: Run a test plan.
      description: |
        "Schedule" is called as "Test Plan" now.\
        If you want to run a test plan, use this endpoint.
      tags:
      - schedule
      security:
      - bearerAuth: []
      parameters:
      - name: schedule_id
        in: path
        required: true
        description: 'For example, 3 for the following URL: https://app.autify.com/projects/1/test_plans/3

          '
        schema:
          type: integer
      requestBody:
        description: The options to execute a test plan.
        required: false
        content:
          application/json:
            schema:
              type: object
              "$ref": "#/components/schemas/ExecuteScheduleRequest"
      responses:
        '200':
          description: |
            ok

            `123456` in the example response is the test plan result ID.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                        example: 123456
                      type:
                        type: string
                        example: test_plan_result
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 123456
                    required:
                    - id
                    - type
                    - attributes
                required:
                - data
        '401':
          description: Bad credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          default: Bad credentials
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          default: Not Found
  "/projects/{project_id}/scenarios":
    get:
      operationId: listScenarios
      description: 'List scenarios.

        '
      tags:
      - scenario
      security:
      - bearerAuth: []
      parameters:
      - name: project_id
        in: path
        required: true
        description: 'For example, 1 for the following URL: https://app.autify.com/projects/1/scenarios

          '
        schema:
          type: integer
      - name: page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
        description: The number of page returns.
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Scenario"
    post:
      operationId: createScenario
      description: |
        Create an empty scenario, ready to be given steps.

        The scenario is created with no steps. Add them with
        `replaceScenarioSteps`, sending the `version_token` this call returns.
      tags:
      - scenario
      security:
      - bearerAuth: []
      parameters:
      - name: project_id
        in: path
        required: true
        description: 'For example, 1 for the following URL: https://app.autify.com/projects/1/scenarios

          '
        schema:
          type: integer
      requestBody:
        description: The scenario to create
        required: false
        content:
          application/json:
            schema:
              type: object
              "$ref": "#/components/schemas/CreateScenarioRequest"
      responses:
        '201':
          description: created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ScenarioDetail"
        '400':
          description: |
            The name is already used by another scenario in the project or is too
            long, or a label could not be attached, for the same reasons
            `updateScenario` gives.
  "/projects/{project_id}/scenarios/{scenario_id}":
    get:
      operationId: describeScenario
      description: |
        Get a scenario, with its steps, data table and variables.

        Each step names its keyword by the canonical English name that
        `listStepKeywords` publishes, and lists its arguments in that keyword's
        argument order. An argument that targets an element carries the locators
        Autify matches it by, rather than a placeholder.

        An element whose `user_locator_heals` is true treats `user_locator` as a
        seed: Autify learns the element from it on the next passing run and matches
        it automatically after that. Its `seed_locator` is the selector Autify last
        learned from, and equals `user_locator` once that has happened. An element
        whose `user_locator_heals` is false uses `user_locator` as a pin on every
        run. `replaceScenarioSteps` sets it.

        An `Execute Step Group` step is reported as a reference to its step group
        rather than expanded in place; read the group itself with this endpoint,
        using the `step_group_id` from the step's argument. The values this call
        site substitutes into the group come back beside it, in `overrides`.

        A step recorded on a password field is masked: values typed into it are
        returned as `******` and the element's `candidate_locators` are withheld,
        as on `describeTestCaseResult`.
      tags:
      - scenario
      security:
      - bearerAuth: []
      parameters:
      - name: project_id
        in: path
        required: true
        description: 'For example, 1 for the following URL: https://app.autify.com/projects/1/scenarios/2

          '
        schema:
          type: integer
      - name: scenario_id
        in: path
        required: true
        description: 'For example, 2 for the following URL: https://app.autify.com/projects/1/scenarios/2

          '
        schema:
          type: integer
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ScenarioDetail"
    put:
      operationId: updateScenario
      description: 'Update a scenario.

        '
      tags:
      - scenario
      security:
      - bearerAuth: []
      parameters:
      - name: project_id
        in: path
        required: true
        description: 'For example, 1 for the following URL: https://app.autify.com/projects/1/scenarios/2

          '
        schema:
          type: integer
      - name: scenario_id
        in: path
        required: true
        description: 'For example, 2 for the following URL: https://app.autify.com/projects/1/scenarios/2

          '
        schema:
          type: integer
      requestBody:
        description: The scenario to update
        required: true
        content:
          application/json:
            schema:
              type: object
              "$ref": "#/components/schemas/UpdateScenarioRequest"
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ScenarioDetail"
        '400':
          description: |
            `on_create` was false and a label name this project does not have was
            supplied, or `on_create` was neither `true` nor `false`, or a label name
            the project would have to create is not a valid label name, or
            `version_token` was sent empty rather than omitted.
        '412':
          description: |
            The scenario changed after the version you named. Read the scenario again and
            retry against the `version_token` you get back.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                          default: 412
                        message:
                          type: string
  "/projects/{project_id}/scenarios/{scenario_id}/steps":
    put:
      operationId: replaceScenarioSteps
      description: |
        Replace a scenario's steps. Send the whole list in the order the steps should
        run; one call adds, edits, removes and reorders steps.

        A step that carries an `id` from `describeScenario` is that existing step. A
        step without an `id` is added. An existing step whose `id` is not in the list
        is removed, so send `[]` to remove every step.

        Each step and each of its arguments is a JSON merge patch against what
        `describeScenario` returned. A field you send that differs from the current
        value is changed, a field you leave out is kept, and `null` clears it. So
        `{"id": 12}` keeps step 12 exactly as it is, at its new position, and sending
        the read back unchanged changes nothing. Arguments are matched by `name`, as
        `listStepKeywords` names them, so send only the arguments you change.

        A new step needs an `action_type` from `listStepKeywords` and that keyword's
        required arguments. Sending a different `action_type` for an existing step
        rewrites it for the new keyword, keeping its `id` and carrying over the
        arguments whose names the two keywords share.

        When you write a `user_locator`, send `user_locator_heals: true` with it
        unless the step must use that exact selector on every run. Autify then finds
        the element by your selector on the next passing run, learns the element from
        that run and matches it from then on the way it matches a recorded step, so a
        later page change does not break the step. Your selector only has to pick out
        the element on the page as it is now. Left false, the selector is a pin, and
        the step fails once the selector stops matching.

        Read the scenario again from the response: it has the new steps' ids and the
        `version_token` for your next write.
      tags:
      - scenario
      security:
      - bearerAuth: []
      parameters:
      - name: project_id
        in: path
        required: true
        description: 'For example, 1 for the following URL: https://app.autify.com/projects/1/scenarios/2

          '
        schema:
          type: integer
      - name: scenario_id
        in: path
        required: true
        description: 'For example, 2 for the following URL: https://app.autify.com/projects/1/scenarios/2

          '
        schema:
          type: integer
      requestBody:
        description: The scenario's steps, in the order they should run
        required: true
        content:
          application/json:
            schema:
              type: object
              "$ref": "#/components/schemas/ReplaceScenarioStepsRequest"
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ScenarioDetail"
        '400':
          description: |
            The steps could not be written, and none were. A problem with one step
            starts the message with that step's position, as `steps[<index>]: `: an
            `id` that is not a step of this scenario or appears twice, an entry that is
            not a step object, a new step without an `action_type`, an argument name
            the keyword does not have, a required argument left empty, a
            `user_locator` without its `css:` or `xpath:` prefix, a step group of
            another project, or a keyword that can only be recorded. A problem with the
            request as a whole carries no position: a body that is not JSON, `steps`
            missing or not a list, removing a step an export variable reads from,
            writing the steps of a step group, which cannot be written through the
            API, or `version_token` sent empty rather than omitted.
        '402':
          description: |
            A step uses a keyword, or is a cleanup step, that this workspace's plan
            does not include. `listStepKeywords` reports which keywords it includes.
            Nothing was written.
        '412':
          description: |
            The scenario changed after the version you named. Read the scenario again,
            reapply your change and retry against the `version_token` you get back.
            Nothing was written.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                          default: 412
                        message:
                          type: string
  "/projects/{project_id}/scenarios/{scenario_id}/duplications":
    post:
      operationId: duplicateScenario
      description: 'Duplicate a scenario.

        '
      tags:
      - scenario
      security:
      - bearerAuth: []
      parameters:
      - name: project_id
        in: path
        required: true
        description: 'For example, 1 for the following URL: https://app.autify.com/projects/1/scenarios/2

          '
        schema:
          type: integer
      - name: scenario_id
        in: path
        required: true
        description: 'For example, 2 for the following URL: https://app.autify.com/projects/1/scenarios/2

          '
        schema:
          type: integer
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ScenarioDetail"
        '402':
          description: |
            The scenario has steps this workspace's plan does not include, so no
            copy was made. `message` names every blocked step in one sentence, so a
            single request tells you everything to remove or upgrade. Duplicating
            counts as writing every step again, so a scenario that still has a step
            from an earlier plan cannot be duplicated even though it can still be
            edited.
            `listStepKeywords` shows which keywords the plan includes. Retrying will
            not succeed until the plan changes.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                          default: 402
                        message:
                          type: string
  "/projects/{project_id}/scenarios/{scenario_id}/histories":
    get:
      operationId: listScenarioHistories
      description: |
        List a scenario's history, newest first.

        Each save of the scenario's steps in the scenario editor records the whole
        scenario as it stood after that save, as one entry, and so does creating it
        by import, copy or `duplicateScenario`. An editor save's entry is written a
        moment after the save, not with it; the others are written with it.
        Changing only the name, description or labels, which is all
        `updateScenario` changes, records no entry.

        Use this to see when a scenario's steps changed and who changed them, then
        read an entry with `describeScenarioHistory` to see what it held. Comparing
        two entries shows what a save changed.

        `latest` is true on the entry recorded by the most recent save of the
        steps, and holds the steps as last saved. The entry listed after it is the
        version before that save. A passing run, or a locator update made from a
        test result, changes an element's candidate locators without recording an
        entry, so `describeScenario` can differ from `latest` there.
      tags:
      - scenario
      security:
      - bearerAuth: []
      parameters:
      - name: project_id
        in: path
        required: true
        description: 'For example, 1 for the following URL: https://app.autify.com/projects/1/scenarios/2

          '
        schema:
          type: integer
      - name: scenario_id
        in: path
        required: true
        description: 'For example, 2 for the following URL: https://app.autify.com/projects/1/scenarios/2

          '
        schema:
          type: integer
      - name: page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
        description: The number of page returns.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 30
        description: The number of items returns. Default number is 30 and up to a
          maximum of 100
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/ScenarioHistory"
        '404':
          description: The scenario is not in this project.
  "/projects/{project_id}/scenarios/{scenario_id}/histories/{history_id}":
    get:
      operationId: describeScenarioHistory
      description: |
        Get the steps, data table and variables a scenario held at one entry of its
        history, as listed by `listScenarioHistories`.

        They come back in the same shape `describeScenario` returns, so an entry
        can be compared field by field with the scenario as it is now or with
        another entry. Password masking applies as it does there. Five things
        differ, because an entry records values rather than the rows they lived in:

        - An element argument's `element_id`, `user_locator_heals` and
          `seed_locator` are always null, because an entry records none of them.
          Its `user_locator` and `candidate_locators` are the ones the element had
          at that save.
        - A step's `id` is the id it had at that save, which may no longer exist
          in the scenario. It is null on entries saved before late July 2024,
          when entries started recording step ids.
        - An `Execute Step Group` step's `overrides` are read against the step
          group as it is now, so an override on a step since removed from the
          group is not reported.
        - An export variable set by a step inside a step group resolves its
          `step_id` against that group as it is now. When more than one called
          group assigns the same identifier, the step with the lowest id wins.
        - An entry records the scenario's name at that save but not its
          description or labels, and a later rename does not move it.
      tags:
      - scenario
      security:
      - bearerAuth: []
      parameters:
      - name: project_id
        in: path
        required: true
        description: 'For example, 1 for the following URL: https://app.autify.com/projects/1/scenarios/2

          '
        schema:
          type: integer
      - name: scenario_id
        in: path
        required: true
        description: 'For example, 2 for the following URL: https://app.autify.com/projects/1/scenarios/2

          '
        schema:
          type: integer
      - name: history_id
        in: path
        required: true
        description: 'The `id` of an entry `listScenarioHistories` returned for this
          scenario.

          '
        schema:
          type: integer
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ScenarioHistoryDetail"
        '404':
          description: |
            The scenario is not in this project, or the entry is not in this
            scenario's history.
  "/projects/{project_id}/scenarios/{scenario_id}/results":
    get:
      operationId: listScenarioResults
      summary: List the test results of one scenario.
      description: |
        List the test results of a single scenario, newest first.

        Each entry is one execution of that scenario on one capability, so a
        scenario run against three browsers contributes three entries. Use this
        to see how one scenario has been doing over time, which `listResults`
        cannot answer: that endpoint returns whole test plan executions and is
        filterable only by test plan.

        `review_needed` is the number of "Review needed" element warnings raised
        by that execution. A count that climbs over recent results means the
        scenario's element locators are drifting.
      tags:
      - result
      security:
      - bearerAuth: []
      parameters:
      - name: project_id
        in: path
        required: true
        description: 'For example, 1 for the following URL: https://app.autify.com/projects/1/scenarios/2

          '
        schema:
          type: integer
      - name: scenario_id
        in: path
        required: true
        description: 'For example, 2 for the following URL: https://app.autify.com/projects/1/scenarios/2

          '
        schema:
          type: integer
      - name: page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
        description: The number of page returns.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 30
        description: The number of items returns. Default number is 30 and up to a
          maximum of 100
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/ScenarioTestCaseResult"
  "/projects/{project_id}/results":
    get:
      operationId: listResults
      summary: List test results.
      description: 'List test results.

        '
      tags:
      - result
      security:
      - bearerAuth: []
      parameters:
      - name: project_id
        in: path
        required: true
        description: 'For example, 1 for the following URL: https://app.autify.com/projects/1/results

          '
        schema:
          type: integer
      - name: page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
        description: The number of page returns.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 30
        description: The number of items returns. Default number is 30 and up to a
          maximum of 100
      - name: test_plan_id
        in: query
        required: false
        schema:
          type: integer
        description: Test plan ID used to filter results.
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/TestPlanResult"
  "/projects/{project_id}/results/{result_id}":
    get:
      operationId: describeResult
      summary: Get a test result.
      description: 'Get a test result.

        '
      tags:
      - result
      security:
      - bearerAuth: []
      parameters:
      - name: project_id
        in: path
        required: true
        description: 'For example, 1 for the following URL: https://app.autify.com/projects/1/results/4

          '
        schema:
          type: integer
      - name: result_id
        in: path
        required: true
        description: 'For example, 4 for the following URL: https://app.autify.com/projects/1/results/4

          '
        schema:
          type: integer
      - name: get_details
        in: query
        required: false
        description: 'The flag to get details of the test case result.

          '
        schema:
          type: boolean
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  status:
                    "$ref": "#/components/schemas/TestPlanResultStatus"
                  duration:
                    type: integer
                  started_at:
                    type: string
                    format: date-time
                  finished_at:
                    type: string
                    format: date-time
                  created_at:
                    type: string
                    format: date-time
                  updated_at:
                    type: string
                    format: date-time
                  review_needed:
                    type: boolean
                  test_plan_capability_results:
                    type: array
                    items:
                      "$ref": "#/components/schemas/TestPlanCapabilityResult"
                  test_plan:
                    "$ref": "#/components/schemas/TestPlan"
  "/projects/{project_id}/test_case_results/{test_case_result_id}":
    get:
      operationId: describeTestCaseResult
      summary: Get the steps and element locators of a test case result.
      description: |
        Get the step-by-step breakdown of a single test case result, including the
        element locators Autify resolved for each step.

        A "test case result" is the execution of one scenario on one capability.
        You can obtain its ID from the `test_plan_capability_results[].test_case_results[].id`
        field returned by `describeResult`.

        Use this to see which step failed and why, and to read back the locators
        Autify generated for an element, which are usually better than a selector
        you would write by hand.

        Note: a step reports its keyword as `action_type`, the same enum
        `listStepKeywords` and `describeScenario` use, rather than as a name. The
        localized label the UI shows appears only in `describeResult` (`get_details`).

        Values typed into a password field are returned as `******`.
      tags:
      - result
      security:
      - bearerAuth: []
      parameters:
      - name: project_id
        in: path
        required: true
        description: 'For example, 1 for the following URL: https://app.autify.com/projects/1/results/4

          '
        schema:
          type: integer
      - name: test_case_result_id
        in: path
        required: true
        description: |
          The ID of the test case result. Obtainable from the `test_case_results[].id`
          field of `describeResult`.
        schema:
          type: integer
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/TestCaseResultDetail"
  "/projects/{project_id}/capabilities":
    get:
      operationId: listCapabilities
      description: 'List available Capabilities.

        '
      tags:
      - capability
      security:
      - bearerAuth: []
      parameters:
      - name: project_id
        in: path
        required: true
        description: 'For example, 1 for the following URL: https://app.autify.com/projects/1/capabilities

          '
        schema:
          type: integer
      - in: query
        name: os
        schema:
          type: string
        description: os name to filter (deprecated)
        deprecated: true
      - in: query
        name: os_type
        description: Type of the os to filter
        schema:
          "$ref": "#/components/schemas/OsTypeEnum"
      - in: query
        name: browser
        schema:
          type: string
        description: browser name to filter (deprecated)
        deprecated: true
      - in: query
        name: browser_type
        description: Type of the browser to filter
        schema:
          "$ref": "#/components/schemas/BrowserTypeEnum"
      - in: query
        name: device_type
        description: device_type name to filter (mobile is deprecated)
        schema:
          "$ref": "#/components/schemas/DeviceTypeEnum"
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/CapabilityOption"
  "/projects/{project_id}/step_keywords":
    get:
      operationId: listStepKeywords
      description: |
        List every step keyword an Autify NoCode Web scenario can be built from,
        with the ordered argument signature of each.

        Supply a step's arguments in the order `arguments` gives them. A keyword
        whose `included_in_plan` is false is not part of this workspace's plan, and
        writing a step that uses it is rejected; every keyword is listed either way,
        so the whole vocabulary is visible.

        `keyword` is the canonical English name and is what the rest of the API
        expects, whatever language the workspace is set to.
      tags:
      - scenario
      security:
      - bearerAuth: []
      parameters:
      - name: project_id
        in: path
        required: true
        description: 'For example, 1 for the following URL: https://app.autify.com/projects/1/scenarios

          '
        schema:
          type: integer
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/StepKeyword"
  "/projects/{project_id}/execute_scenarios":
    post:
      operationId: executeScenarios
      description: 'You can execute any scenarios in your workspace using any execution
        environments (which is called "capabilities" here).

        '
      tags:
      - scenario
      security:
      - bearerAuth: []
      parameters:
      - name: project_id
        in: path
        required: true
        description: 'For example, 1 for the following URL: https://app.autify.com/projects/1/scenarios

          '
        schema:
          type: integer
      requestBody:
        description: The scenarios and settings to execute
        required: true
        content:
          application/json:
            schema:
              type: object
              "$ref": "#/components/schemas/ExecuteScenariosRequest"
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                "$ref": "#/components/schemas/ExecuteScenariosResult"
        '401':
          description: Bad credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                          default: 401
                        message:
                          type: string
                          default: Bad credentials
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                          default: 404
                        message:
                          type: string
                          default: Not Found
  "/projects/{project_id}/autify_connect/access_points":
    get:
      operationId: listAccessPoints
      description: 'List access points for the project.

        '
      tags:
      - autify_connect
      security:
      - bearerAuth: []
      parameters:
      - name: project_id
        in: path
        required: true
        description: 'For example, 1 for the following URL: https://app.autify.com/projects/1/scenarios

          '
        schema:
          type: integer
      - name: page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
        description: The number of page returns.
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/AccessPoint"
    post:
      operationId: createAccessPoint
      description: 'You can generate a new access point by passing in its name.

        '
      tags:
      - autify_connect
      security:
      - bearerAuth: []
      parameters:
      - name: project_id
        in: path
        required: true
        description: 'For example, 1 for the following URL: https://app.autify.com/projects/1/scenarios

          '
        schema:
          type: integer
      requestBody:
        description: The name of the access point to be created
        required: true
        content:
          application/json:
            schema:
              type: object
              "$ref": "#/components/schemas/CreateAccessPointRequest"
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                "$ref": "#/components/schemas/CreateAccessPointResult"
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                          default: 400
                        message:
                          type: string
                          default: Access Point Name {access point name} has already
                            been taken
    delete:
      operationId: deleteAccessPoint
      description: 'You can delete an access point by passing in its name.

        '
      tags:
      - autify_connect
      security:
      - bearerAuth: []
      parameters:
      - name: project_id
        in: path
        required: true
        description: 'For example, 1 for the following URL: https://app.autify.com/projects/1/scenarios

          '
        schema:
          type: integer
      requestBody:
        description: The name of the access point to be deleted
        required: true
        content:
          application/json:
            schema:
              type: object
              "$ref": "#/components/schemas/DeleteAccessPointRequest"
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                          default: 404
                        message:
                          type: string
                          default: Access Point {access point name} was not found.
  "/test_plans/{test_plan_id}/url_replacements":
    post:
      operationId: createUrlReplacement
      description: 'Create a new url replacement for the test plan

        '
      tags:
      - url_replacement
      security:
      - bearerAuth: []
      parameters:
      - name: test_plan_id
        in: path
        required: true
        description: 'For example, 15 for the following URL: https://app.autify.com/projects/1/test_plans/15

          '
        schema:
          type: integer
      requestBody:
        description: The url to replace
        required: true
        content:
          application/json:
            schema:
              type: object
              "$ref": "#/components/schemas/CreateUrlReplacementRequest"
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                "$ref": "#/components/schemas/UrlReplacement"
    get:
      operationId: listUrlReplacements
      description: 'List url replacements for the test plan

        '
      tags:
      - url_replacement
      security:
      - bearerAuth: []
      parameters:
      - name: test_plan_id
        in: path
        required: true
        description: 'For example, 15 for the following URL: https://app.autify.com/projects/1/test_plans/15

          '
        schema:
          type: integer
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/UrlReplacement"
  "/test_plans/{test_plan_id}/url_replacements/{url_replacement_id}":
    put:
      operationId: updateUrlReplacement
      description: 'Update a url replacement for the test plan

        '
      tags:
      - url_replacement
      security:
      - bearerAuth: []
      parameters:
      - name: test_plan_id
        in: path
        required: true
        description: 'For example, 15 for the following URL: https://app.autify.com/projects/1/test_plans/15

          '
        schema:
          type: integer
      - name: url_replacement_id
        in: path
        required: true
        description: 'url_replacement id

          '
        schema:
          type: integer
      requestBody:
        description: The url to replace. Either pattern_url or replacement_url is
          required.
        required: true
        content:
          application/json:
            schema:
              type: object
              "$ref": "#/components/schemas/UpdateUrlReplacementRequest"
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                "$ref": "#/components/schemas/UrlReplacement"
    delete:
      operationId: deleteUrlReplacement
      description: 'Delete a url replacement for the test plan

        '
      tags:
      - url_replacement
      security:
      - bearerAuth: []
      parameters:
      - name: test_plan_id
        in: path
        required: true
        description: 'For example, 15 for the following URL: https://app.autify.com/projects/1/test_plans/15

          '
        schema:
          type: integer
      - name: url_replacement_id
        in: path
        required: true
        description: 'url_replacement id

          '
        schema:
          type: integer
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: string
                example: ok
  "/test_plans/{test_plan_id}/test_plan_variables":
    post:
      operationId: createTestPlanVariable
      description: 'Create a new variable for the test plan

        '
      tags:
      - test_plan_variable
      security:
      - bearerAuth: []
      parameters:
      - name: test_plan_id
        in: path
        required: true
        description: 'For example, 15 for the following URL: https://app.autify.com/projects/1/test_plans/15

          '
        schema:
          type: integer
      requestBody:
        description: The new variable key and default value to use in the test plan
        required: true
        content:
          application/json:
            schema:
              type: object
              "$ref": "#/components/schemas/CreateTestPlanVariableRequest"
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                "$ref": "#/components/schemas/TestPlanVariable"
        '400':
          description: An error occured when creating the variable (most likely, the
            variable key is already taken)
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
    get:
      operationId: listTestPlanVariable
      description: 'List the test plan''s variables

        '
      tags:
      - test_plan_variable
      security:
      - bearerAuth: []
      parameters:
      - name: test_plan_id
        in: path
        required: true
        description: 'For example, 15 for the following URL: https://app.autify.com/projects/1/test_plans/15

          '
        schema:
          type: integer
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/TestPlanVariable"
  "/test_plans/{test_plan_id}/test_plan_variables/{test_plan_variable_id}":
    put:
      operationId: updateTestPlanVariable
      description: 'Update a url replacement for the test plan

        '
      tags:
      - test_plan_variable
      security:
      - bearerAuth: []
      parameters:
      - name: test_plan_id
        in: path
        required: true
        description: 'For example, 15 for the following URL: https://app.autify.com/projects/1/test_plans/15

          '
        schema:
          type: integer
      - name: test_plan_variable_id
        in: path
        required: true
        description: 'test_plan_variable id

          '
        schema:
          type: integer
      requestBody:
        description: The variable's new key and/or default_value's value to register
        required: true
        content:
          application/json:
            schema:
              type: object
              "$ref": "#/components/schemas/UpdateTestPlanVariableRequest"
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                "$ref": "#/components/schemas/TestPlanVariable"
        '400':
          description: An error occured when creating the variable (most likely, the
            variable key is already taken)
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
    delete:
      operationId: deleteTestPlanVariable
      description: 'Delete an existing test plan variable for the test plan

        '
      tags:
      - test_plan_variable
      security:
      - bearerAuth: []
      parameters:
      - name: test_plan_id
        in: path
        required: true
        description: 'For example, 15 for the following URL: https://app.autify.com/projects/1/test_plans/15/

          '
        schema:
          type: integer
      - name: test_plan_variable_id
        in: path
        required: true
        description: 'test_plan_variable id

          '
        schema:
          type: integer
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: string
                example: ok
  "/projects/{project_id}/credits":
    get:
      operationId: getCreditUsage
      description: |
        Get the number of credits used in the project\
        \
        Notes:\
        This endpoint works only for organizations on credit-based plans. It always returns 0 for `credits_consumed` and `credit_consumption_event_count` if your organization is on a run-based plan.
      tags:
      - credit
      security:
      - bearerAuth: []
      parameters:
      - name: project_id
        in: path
        required: true
        description: 'For example, 1 for the following URL: https://app.autify.com/projects/1/credits

          '
        schema:
          type: integer
      - name: date_from
        in: query
        required: false
        description: |
          The date to start counting used credits from.\
          If not specified, the date will be set to 1 week ago.\
          Up to 90 days in advance can be specified. If the specified date is more than 90 days in the past, the date will be set to 90 days ago.\
          Date must follow the format YYYY-MM-DD (example: "2023-09-21").
        schema:
          type: string
          format: date
          example: '2023-09-21'
      - name: date_to
        in: query
        required: false
        description: |
          The date to end counting used credits from.\
          If not specified, the date will be set to today.\
          Date must follow the format YYYY-MM-DD (example: "2023-09-28").
        schema:
          type: string
          format: date
          example: '2023-09-28'
      - name: scenario_id
        in: query
        required: false
        description: 'The scenario ID to filter used credits by.

          '
        schema:
          type: integer
      - name: test_plan_id
        in: query
        required: false
        description: 'The test plan ID to filter used credits by.

          '
        schema:
          type: integer
      - name: user_id
        in: query
        required: false
        description: 'The user ID that executed tests to filter used credits by.

          '
        schema:
          type: integer
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                "$ref": "#/components/schemas/UsedCredits"
  "/projects":
    get:
      operationId: listProjects
      description: 'List the projects (workspaces) the access token''s user is a member
        of, plus their partner''s workspaces for a partner admin, ordered by id.

        '
      tags:
      - project
      security:
      - bearerAuth: []
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Project"
  "/projects/{project_id}/project_info":
    get:
      operationId: getProjectInfo
      description: 'Get project information.

        '
      tags:
      - project
      security:
      - bearerAuth: []
      parameters:
      - name: project_id
        in: path
        required: true
        description: 'For example, 1 for the following URL: https://app.autify.com/projects/1/project_info

          '
        schema:
          type: integer
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                "$ref": "#/components/schemas/ProjectInfo"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: http
  schemas:
    Scenario:
      properties:
        id:
          type: integer
        name:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        author:
          "$ref": "#/components/schemas/User"
        updater:
          "$ref": "#/components/schemas/User"
        labels:
          type: array
          items:
            "$ref": "#/components/schemas/Label"
    ScenarioDetail:
      properties:
        id:
          type: integer
        version_token:
          type: string
          description: |
            Opaque version of the scenario as returned. Send it back as `version_token` on
            an update to have that update rejected if the scenario changed in between.
        name:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        author:
          "$ref": "#/components/schemas/User"
        updater:
          "$ref": "#/components/schemas/User"
        description:
          type: string
        project_url:
          type: string
        steps:
          type: array
          description: 'The scenario''s steps, in execution order.

            '
          items:
            "$ref": "#/components/schemas/ScenarioStep"
        data_table:
          type: array
          description: 'The scenario''s data table, one entry per row.

            '
          items:
            type: object
        variables:
          "$ref": "#/components/schemas/ScenarioVariables"
        labels:
          type: array
          items:
            "$ref": "#/components/schemas/Label"
    ScenarioStep:
      properties:
        id:
          type: integer
          nullable: true
          description: |
            Identifier of the step. `describeScenario` always fills it. Only
            `describeScenarioHistory` can return null, for an entry saved before
            late July 2024, when history entries started recording step ids.
        action_type:
          type: string
          nullable: true
          description: |
            The step's keyword in enum form, for example `INPUT_TEXT`. This is the
            same value the write API takes, and the `action_type` `listStepKeywords`
            publishes. Null for a legacy keyword that has no enum member.
        name:
          type: string
          description: The step's name, as shown in the scenario editor.
        memo:
          type: string
        on_failure:
          type: string
          enum:
          - abort
          - continue
          - ignore
          description: What the run does when this step fails.
        step_execution_type:
          type: string
          enum:
          - scenario_step
          - cleanup_step
          description: |
            Whether the step runs as part of the scenario or as a cleanup step
            afterwards.
        assign:
          type: string
          nullable: true
          description: |
            The identifier this step's result is assigned to. Two kinds of value
            appear here. A step that an export variable reads from carries that
            variable's key, which you chose. A JavaScript step instead carries a
            generated key shaped `${<32 hex characters>}`, which is machine-owned:
            copy it verbatim and do not invent one. An `assign` does not imply that
            an export variable exists for the step.
        arguments:
          type: array
          description: |
            The step's arguments, in the order `listStepKeywords` gives them for
            this keyword. Optional arguments the step does not set are absent, so
            match an argument by its `name` rather than by position.

            A run's steps carry the same names and types, under `ResultStepArgument`,
            with a different arity: this endpoint leaves out an optional argument the
            step never set, while a run emits every slot its keyword declares. There a
            `file` argument reports just `file_name`, and `step_group` appears only
            here.
          items:
            "$ref": "#/components/schemas/ScenarioStepArgument"
    ScenarioStepArgument:
      description: 'An argument to a step. Which fields are present depends on `type`.

        '
      properties:
        name:
          type: string
          nullable: true
          description: |
            Name of the argument, matching the `name` `listStepKeywords` publishes
            for this keyword's argument in the same slot.
        type:
          type: string
          enum:
          - text
          - url
          - file
          - element
          - step_group
          description: |
            `text` and `url` carry `value`. `file` carries `file_name`,
            `file_size` and `object_key`. `element` carries `element_id`,
            `user_locator`, `user_locator_heals`, `seed_locator` and
            `candidate_locators`. `step_group` carries `step_group_id` and
            `overrides`.
        value:
          description: |
            The value, for a `text` or `url` argument. A value typed into a
            password field is returned as `******`.
          oneOf:
          - type: string
          - type: boolean
        element_id:
          type: integer
          nullable: true
          description: |
            Identifier of the element this step targets. Read only.
            `describeScenario` always fills it. `describeScenarioHistory` always
            returns null, because a history entry never records element ids.
        user_locator:
          type: string
          nullable: true
          description: |
            The CSS or XPath selector pinned to this element, if one is set. The
            `css:` or `xpath:` prefix is part of the value.
        user_locator_heals:
          type: boolean
          nullable: true
          description: |
            Whether `user_locator` is a seed rather than a pin. When true, the next
            run finds the element by `user_locator`, Autify learns the element from
            that run, and later runs match it automatically as if it had been
            recorded, so a page change no longer breaks the step. When false, every
            run uses `user_locator` and nothing else. `describeScenario` always
            fills it; `describeScenarioHistory` returns null, because a history
            entry does not record it.
        seed_locator:
          type: string
          nullable: true
          description: |
            The `user_locator` Autify last learned the element from. Read only. It
            equals `user_locator` once a run has learned the element; when the two
            differ, the next run uses `user_locator` again and relearns from it.
        candidate_locators:
          type: array
          nullable: true
          description: |
            The locators Autify generated for this element on its last passing
            run, which is how the step is matched when no `user_locator` is set.
            Read only, and empty until the scenario has passed once. `null` when
            the step was recorded on a password field, which withholds them.
          items:
            type: string
        file_name:
          type: string
          nullable: true
        file_size:
          type: integer
          nullable: true
        object_key:
          type: string
          nullable: true
        step_group_id:
          type: integer
          nullable: true
          description: |
            The step group this step runs. Read it with `describeScenario` using
            this id.
        overrides:
          type: object
          description: |
            The values this call site substitutes into the step group, keyed by
            the id of the step inside the group that each one applies to. An
            empty object means this endpoint reports no override for the group,
            which is not the same as the group running as authored. Two
            overrides of an `Execute Javascript` step are never reported,
            whether or not the step is backed by a custom action: a custom
            action selected at the call site, and changed function arguments.
          additionalProperties:
            type: object
            properties:
              arguments:
                type: array
                description: |
                  Only the arguments this call site overrides, named as
                  `listStepKeywords` names them for the overridden step's
                  keyword. Match by `name`: an argument left as the group
                  authored it is absent, as is one whose stored override
                  repeats the authored value and so substitutes nothing. An
                  argument that names an element is absent too, because a run
                  locates the element the step group authored and ignores
                  anything a call site stores against that argument.
                items:
                  type: object
                  properties:
                    name:
                      type: string
                      nullable: true
                    type:
                      type: string
                      enum:
                      - text
                      - url
                      description: |
                        The kind of the substituted value: `url` where the
                        overridden argument names a page, `text` otherwise.
                    value:
                      oneOf:
                      - type: string
                      - type: boolean
                      description: |
                        The substituted value. Where the overridden step was
                        recorded on a password field this is `******`, as it is
                        when the step group itself is read.
    ResultStepArgument:
      description: |
        An argument to a step of a run. The vocabulary matches `ScenarioStepArgument`;
        which fields are present depends on `type`.
      properties:
        name:
          type: string
          nullable: true
          description: |
            Name of the argument, matching the `name` `listStepKeywords` publishes for
            this keyword's argument in the same slot. Null for a value the run carried
            beyond the arguments the keyword declares.
        type:
          type: string
          enum:
          - text
          - url
          - file
          - element
          description: |
            `text` and `url` carry `value`. `file` carries `file_name`. `element`
            carries `element_id`, `user_locator` and `candidate_locators`.
        value:
          description: |
            The value, for a `text` or `url` argument, and null for a declared slot the
            run did not fill. A boolean argument returns a real boolean, matching what
            `describeScenario` returns for the same step.
          oneOf:
          - type: string
          - type: boolean
        file_name:
          type: string
          nullable: true
          description: The uploaded file's name, without the storage path it is kept
            under.
        element_id:
          type: integer
          nullable: true
          description: ID of the Autify element targeted by the step.
        user_locator:
          type: string
          nullable: true
          description: |
            Locator explicitly specified by the user, when present. Null for a password
            field, whose locator can embed the value.
        candidate_locators:
          type: array
          description: |
            Selectors Autify had available going into this run, the same flat list
            `describeScenario` returns for the element. These come from what Autify
            learned on earlier runs, so a step that has never passed has none.
            They work as a set, not as alternatives. When Autify matches on them it
            requires every one to resolve to the same element, so a single one may be
            ambiguous alone and is not safe to pin on its own. Order is the order Autify
            generated them in, and carries no ranking. Empty for a password field, whose
            locators can embed the value.
          items:
            type: string
    ScenarioVariables:
      properties:
        import:
          type: array
          items:
            type: object
            properties:
              key:
                type: string
              default_value:
                type: string
        export:
          type: array
          items:
            type: object
            properties:
              key:
                type: string
              step_id:
                type: integer
                nullable: true
    ScenarioHistory:
      properties:
        id:
          type: integer
        created_at:
          type: string
          format: date-time
          description: |
            When this entry was recorded. For an editor save that is a moment after
            the save, when the entry is written.
        author:
          type: object
          allOf:
          - "$ref": "#/components/schemas/User"
          nullable: true
        latest:
          type: boolean
          description: |
            True on the entry recorded by the most recent save of the scenario's
            steps.
    ScenarioHistoryDetail:
      properties:
        id:
          type: integer
        created_at:
          type: string
          format: date-time
          description: |
            When this entry was recorded. For an editor save that is a moment after
            the save, when the entry is written.
        author:
          type: object
          allOf:
          - "$ref": "#/components/schemas/User"
          nullable: true
        latest:
          type: boolean
          description: |
            True when this entry was recorded by the most recent save of the
            scenario's steps.
        name:
          type: string
          description: The scenario's name when this entry was recorded.
        steps:
          type: array
          description: 'The scenario''s steps at this entry, in execution order.

            '
          items:
            "$ref": "#/components/schemas/ScenarioStep"
        data_table:
          type: array
          description: 'The scenario''s data table at this entry, one entry per row.

            '
          items:
            type: object
        variables:
          "$ref": "#/components/schemas/ScenarioVariables"
    AccessPoint:
      properties:
        name:
          type: string
        last_use:
          type: string
          format: date-time
        creator:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
      - name
      - creator
      - created_at
      - updated_at
    UrlReplacement:
      properties:
        id:
          type: integer
        test_plan_id:
          type: integer
        pattern_url:
          type: string
        replacement_url:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
      - id
      - test_plan_id
      - pattern_url
      - replacement_url
      - created_at
      - updated_at
    DeviceTypeEnum:
      type: string
      description: mobile is deprecated and will be replaced by smartphone
      enum:
      - desktop
      - mobile
      - smartphone
      - tablet
      - emulator
    BrowserTypeEnum:
      type: string
      enum:
      - chrome
      - firefox
      - safari
      - edge
      - edge_legacy
      - ie
    TimezoneEnum:
      type: string
      enum:
      - JST
      - UTC
      - Asia/Tokyo
      - Etc/UTC
    OsTypeEnum:
      type: string
      enum:
      - macos
      - linux
      - windows
      - windows_server
      - ios
      - android
    Capability:
      properties:
        id:
          type: integer
        os:
          type: string
        os_version:
          type: string
        browser:
          type: string
        browser_version:
          type: string
        device:
          type: string
        timezone:
          "$ref": "#/components/schemas/TimezoneEnum"
        resolution:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    CapabilityOption:
      properties:
        os:
          type: string
        os_type:
          "$ref": "#/components/schemas/OsTypeEnum"
        os_version:
          type: string
        browser:
          type: string
        browser_type:
          "$ref": "#/components/schemas/BrowserTypeEnum"
        browser_version:
          type: string
        device:
          type: string
        device_type:
          "$ref": "#/components/schemas/DeviceTypeEnum"
        unsupported:
          type: boolean
          deprecated: true
          description: "(deprecated)"
    StepKeyword:
      properties:
        keyword:
          type: string
          description: |
            Canonical English name of the keyword, for example `Input Text`. This is
            the name the rest of the API expects, in every workspace language.
        action_type:
          type: string
          description: 'The same keyword in enum form, for example `INPUT_TEXT`.

            '
        included_in_plan:
          type: boolean
          description: |
            Whether this workspace's plan includes the keyword. Writing a step whose
            keyword is not included is rejected with 402.
        arguments:
          type: array
          description: |
            The keyword's arguments, in the order they must be supplied. Empty for a
            keyword that takes none.
          items:
            "$ref": "#/components/schemas/StepKeywordArgument"
    StepKeywordArgument:
      properties:
        name:
          type: string
          description: Name of the argument as the scenario editor shows it.
        type:
          type: string
          enum:
          - text
          - url
          - file
          - element
          description: |
            What the argument accepts. `text` is a plain string, `url` an address,
            `file` an uploaded file, and `element` an element on the page.
        element_type:
          type: string
          description: |
            Present only when `type` is `element` and the keyword expects a particular
            kind of element, for example `element_textfield` for Input Text or
            `element_checkbox` for Checkbox Should Be Selected.

            An element is supplied as a locator string whose `css:` or `xpath:` prefix
            is mandatory: a `css:` selector descends into shadow DOM where `xpath:`
            does not, the first match wins if a selector is ambiguous, a selector
            resolving outside `<body>` raises, and the lookup is retried for 30 seconds
            before the step fails.
        required:
          type: boolean
    TestPlan:
      type: object
      nullable: true
      properties:
        id:
          type: integer
        name:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    TestPlanResult:
      properties:
        id:
          type: integer
        status:
          "$ref": "#/components/schemas/TestPlanResultStatus"
        duration:
          type: integer
        started_at:
          type: string
          format: date-time
        finished_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        review_needed:
          type: boolean
        test_plan:
          "$ref": "#/components/schemas/TestPlan"
    TestPlanCapabilityResult:
      properties:
        id:
          type: integer
        capability:
          "$ref": "#/components/schemas/Capability"
        test_case_results:
          type: array
          items:
            "$ref": "#/components/schemas/TestCaseResult"
    TestCaseResult:
      properties:
        id:
          type: integer
        status:
          "$ref": "#/components/schemas/TestCaseResultStatus"
        duration:
          type: integer
        started_at:
          type: string
          format: date-time
        finished_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        test_case_id:
          type: integer
          description: ID of the scenario executed.
        project_url:
          type: string
        review_needed:
          type: integer
          description: Number of "Review needed" flags present in the test results.
        number_of_credits_consumed:
          type: integer
          description: Number of credits consumed by this test result. (default 0
            for test result created before credit based system)
        import_variables:
          description: THIS FEATURE IS FOR LIMITED NUMBER OF CUSTOMERS. Variables
            imported from previously executed test results in a test plan.
          type: array
          items:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
              set_by:
                type: object
                properties:
                  type:
                    type: string
                  id:
                    type: integer
        export_variables:
          description: THIS FEATURE IS FOR LIMITED NUMBER OF CUSTOMERS. Variables
            exported from this test result.
          type: array
          items:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
    ScenarioTestCaseResult:
      allOf:
      - "$ref": "#/components/schemas/TestCaseResult"
      - type: object
        properties:
          capability:
            allOf:
            - "$ref": "#/components/schemas/Capability"
            nullable: true
    TestCaseResultDetail:
      type: object
      properties:
        id:
          type: integer
        scenario_id:
          type: integer
          description: ID of the scenario (test case) that was executed.
        status:
          "$ref": "#/components/schemas/TestCaseResultStatus"
        started_at:
          type: string
          format: date-time
        finished_at:
          type: string
          format: date-time
        duration:
          type: integer
        project_url:
          type: string
        capability:
          "$ref": "#/components/schemas/Capability"
        steps:
          type: array
          items:
            "$ref": "#/components/schemas/TestCaseResultStep"
    TestCaseResultStep:
      type: object
      properties:
        index:
          type: string
          description: |
            Step number within the executed test case, matching the numbering shown
            in the result UI and returned by `describeResult` (`get_details`). Steps
            inside a step group collapse onto one first-level number and get a
            sub-number, e.g. "1", "2", "3-1", "3-2".
        id:
          type: integer
          description: |
            ID of the scenario step this ran, the same identifier `describeScenario`
            returns as a step's `id`.
        composite_id:
          type: string
          description: Identifier that is unique even when the step runs inside a
            step group.
        name:
          type: string
          description: Human-readable name of the step.
        on_failure:
          type: string
          enum:
          - abort
          - continue
          - ignore
          description: What the run does when this step fails.
        step_execution_type:
          type: string
          enum:
          - scenario_step
          - cleanup_step
          description: |
            Whether the step runs as part of the scenario or as a cleanup step
            afterwards.
        action_type:
          type: string
          description: |
            The action identifier `listStepKeywords` and `describeScenario` also use,
            so a run's step and the scenario step it came from read the same way. A step
            whose keyword the catalog does not have is not returned at all, where
            `describeScenario` keeps it with a null `action_type`; the gap it leaves in
            `index` is the only trace of it here.
        arguments:
          type: array
          description: |
            The step's arguments, in the order `listStepKeywords` gives them for this
            keyword, each carrying the `name` that catalog publishes. A value typed
            into a password field is returned as `******`.
          items:
            "$ref": "#/components/schemas/ResultStepArgument"
        status:
          type: string
          description: Result of the step.
          enum:
          - passed
          - failed
          - skipped
        error_message:
          type: string
          nullable: true
          description: Error message when the step failed.
        match:
          type: object
          nullable: true
          description: |
            How this run found the element. Absent when the step targets no element,
            when the step failed before finding one, and for results captured before
            Autify recorded how it matched.
          properties:
            located_by:
              type: string
              description: |
                How Autify found the element: `user_locator` when it matched the locator
                you specified on the step, `automatic` when Autify matched it for you.
              enum:
              - user_locator
              - automatic
            confidence:
              type: number
              nullable: true
              description: |
                How confident Autify was in the element it matched. Around 1 is an
                exact match; lower means a looser one.
            candidate_locators:
              type: array
              nullable: true
              description: |
                Selectors Autify generated from the element it actually found. These are
                what later runs will match on.
                They work as a set, not as alternatives. When Autify matches on them it
                requires every one to resolve to the same element, so a single one may be
                ambiguous alone and is not safe to pin on its own. Order is the order Autify
                generated them in, and carries no ranking.
              items:
                type: string
        url_events:
          type: array
          description: |
            The URL the browser was on when the step started and when it finished, so a
            step that navigated can be told from one that did not. Only URLs of the
            application under test appear: not the browser's own start page, so the first
            step usually reports just its end, and not Autify's email inbox, which a step
            that opens an email navigates to.
          items:
            type: object
            properties:
              timing:
                type: string
                enum:
                - stepStart
                - stepEnd
              url:
                type: string
              at:
                type: integer
                description: Unix timestamp in milliseconds.
    Label:
      properties:
        id:
          type: integer
        name:
          type: string
        color:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    ExecuteScheduleRequest:
      properties:
        autify_connect:
          type: object
          required:
          - name
          properties:
            name:
              type: string
              nullable: true
              description: The name of access point to override the original settings.
                When null is given, the test_plan will run without Autify Connect.
    ExecuteScenariosRequest:
      required:
      - capabilities
      - scenarios
      properties:
        name:
          type: string
          description: Defaults to "API execution {{time_at(Time.now, organization.timezone)}}"
        execution_type:
          description: Defaults to "parallel" ("sequential" In case parallel execution
            was disabled in the workspace)
          type: string
          enum:
          - parallel
          - sequential
          default: parallel
        capabilities:
          type: array
          items:
            type: object
            properties:
              os:
                type: string
                deprecated: true
              os_type:
                "$ref": "#/components/schemas/OsTypeEnum"
              os_version:
                type: string
              device:
                type: string
              browser:
                type: string
                deprecated: true
              browser_type:
                "$ref": "#/components/schemas/BrowserTypeEnum"
              browser_version:
                type: string
              timezone:
                "$ref": "#/components/schemas/TimezoneEnum"
        url_replacements:
          type: array
          items:
            type: object
            "$ref": "#/components/schemas/CreateUrlReplacementRequest"
        scenarios:
          type: array
          items:
            type: object
            required:
            - id
            properties:
              id:
                type: integer
        autify_connect:
          type: object
          required:
          - name
          properties:
            name:
              type: string
    ExecuteScenariosResult:
      required:
      - result_id
      properties:
        result_id:
          type: integer
    CreateAccessPointRequest:
      required:
      - name
      properties:
        name:
          type: string
          description: Name of the access point to be created
    DeleteAccessPointRequest:
      required:
      - name
      properties:
        name:
          type: string
          description: Name of the access point to be deleted
    CreateAccessPointResult:
      required:
      - name
      - key
      - creator
      properties:
        name:
          type: string
        key:
          type: string
        creator:
          type: string
        last_use:
          type: string
        created_at:
          type: string
        updated_at:
          type: string
    CreateUrlReplacementRequest:
      properties:
        pattern_url:
          type: string
          example: https://example.com
        replacement_url:
          type: string
          example: https://example.net
      required:
      - pattern_url
      - replacement_url
    UpdateUrlReplacementRequest:
      properties:
        pattern_url:
          type: string
          example: https://example.com
        replacement_url:
          type: string
          example: https://example.net
    TestPlanVariable:
      properties:
        id:
          type: integer
        test_plan_id:
          type: integer
        key:
          type: string
        default_value:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
      - id
      - test_plan_id
      - key
      - default_value
      - created_at
      - updated_at
    CreateTestPlanVariableRequest:
      properties:
        key:
          type: string
          example: ANY_VARIABLE_NAME
        default_value:
          type: string
          example: https://example.net
    UpdateTestPlanVariableRequest:
      properties:
        key:
          type: string
          example: ANY_VARIABLE_NAME
        default_value:
          type: string
          example: https://example.net
    TestPlanResultStatus:
      type: string
      enum:
      - queuing
      - waiting
      - running
      - passed
      - failed
      - skipped
      - internal_error
      - canceled
      default: waiting
    TestCaseResultStatus:
      type: string
      enum:
      - waiting
      - running
      - passed
      - failed
      - skipped
      - internal_error
      - canceled
      default: waiting
    UsedCredits:
      properties:
        date_from:
          type: string
          format: date
          example: '2023-09-21'
        date_to:
          type: string
          format: date
          example: '2023-09-28'
        credits_consumed:
          type: integer
        credit_consumption_event_count:
          type: integer
    Project:
      properties:
        id:
          type: integer
        name:
          type: string
    ProjectInfo:
      properties:
        id:
          type: integer
        name:
          type: string
        scenarios_count:
          type: integer
        test_plans_count:
          type: integer
    User:
      properties:
        id:
          type: integer
        username:
          type: string
    CreateScenarioRequest:
      properties:
        name:
          type: string
          description: |
            Name of the scenario, unique within the project. Omit it to have a
            default name generated.
        description:
          type: string
        labels:
          type: array
          description: |
            Label names to attach, matched against this project's labels in the same
            way as `labels` on `updateScenario`. A name this project does not already
            have is created in it, unless `on_create` is false.
          items:
            type: string
        on_create:
          type: boolean
          default: true
          description: |
            Whether to create a label named in `labels` that this project does not
            have. Set it to false to have an unrecognised name rejected instead. Only
            `true` and `false` are accepted, as booleans or as the strings `"true"`
            and `"false"`.
    UpdateScenarioRequest:
      properties:
        version_token:
          type: string
          description: |
            The version of the scenario you are updating, as returned by `version_token`
            when you read it. The update is rejected with 412 if anyone changed the
            scenario's name, description, labels or steps in between, so read it again and retry
            against the version you get back. Running the scenario or reviewing its results does not change it. Sending an empty value is an error; omit the field entirely to update
            whatever is there without checking.
        name:
          type: string
        description:
          type: string
        labels:
          type: array
          description: |
            Label names, replacing the scenario's current labels. A name this project
            does not already have is created in it, unless `on_create` is false.

            Only this project's labels are matched, so a label of the same name in
            another project is never attached.
          items:
            type: string
        on_create:
          type: boolean
          default: true
          description: |
            Whether to create a label named in `labels` that this project does not
            have. Set it to false to have an unrecognised name rejected instead,
            which is the safer setting when a name may be a typo.

            Only `true` and `false` are accepted, as booleans or as the strings
            `"true"` and `"false"`. Any other value is rejected with 400 rather than
            being read as `true`, so a typo in this flag cannot
            silently turn label creation back on. A repeated name in `labels` is
            attached once. A name the project would have to create but that the
            label validations reject, such as one over 50 characters, is a 400
            carrying the validation message.
    ReplaceScenarioStepsRequest:
      required:
      - steps
      properties:
        version_token:
          type: string
          description: |
            The version of the scenario you are writing, as returned by `version_token`
            when you read it. The write is rejected with 412 if anyone changed the
            scenario's name, description, labels or steps in between. Running the
            scenario or reviewing its results does not change it. Sending an empty value is an error; omit the
            field entirely to write whatever is there without checking.
        steps:
          type: array
          description: |
            Every step of the scenario, in the order they should run. Each is an
            object with the fields of a `describeScenario` step:

            - `id`: an existing step's id. Leave it out to add a step.
            - `action_type`: required for a new step, from `listStepKeywords`.
            - `name`, `memo`: strings. `null` clears them to empty.
            - `on_failure`: `abort`, `continue` or `ignore`. `null` resets it to `abort`.
            - `step_execution_type`: `scenario_step` or `cleanup_step`.
            - `arguments`: a list of `{"name": ..., <fields>}`, matched by name. A
              `text` or `url` argument takes `value`, a string, or `true`/`false` for
              the switches of `Assert File Download`. An `element` argument takes
              `user_locator` and `user_locator_heals`. A `step_group` argument takes
              `step_group_id`, the id of a step group in this project.

            `user_locator` is a CSS or XPath selector with a mandatory `css:` or
            `xpath:` prefix, and a new element needs one. Set `user_locator_heals` to
            true to have Autify find the element by it on the next passing run, learn
            the element from that run, and match it automatically from then on, the
            way a recorded step is matched; the selector then only has to be
            unambiguous now, not survive later page changes. Left false, the selector
            is a pin used on every run. Sending `user_locator: null` clears it, so the
            step goes back to matching the element automatically. For a keyword that
            needs its element, that is refused with 400 while the element has learned
            nothing to match it by, as on a step whose `candidate_locators` are still
            empty because it has not passed a run yet.

            Read only, and ignored when sent: `element_id`, `seed_locator`,
            `candidate_locators`, `overrides` and `assign`. A new `Execute Javascript`
            or `Open Window` step is given a generated `assign`; copy it from the
            response if another step refers to it. A `file` argument is read only, and
            sending a different file value is rejected. A value read back as `******`
            from a password field is treated as unchanged while the step keeps its
            keyword. Changing such a step's `action_type` needs the real value sent
            for that argument, and is rejected with 400 otherwise.

            Not writable here: `Choose File` and `Open Email With Title` steps, which
            can only be recorded; the code of an `Execute Javascript` step that runs a
            custom action; and an element added to an existing `Execute Javascript`
            step that has none. The overrides a step group call site substitutes are
            kept as they are, and dropped if the call site is pointed at another
            group.
          items:
            type: object
tags:
- name: schedule
  description: '"Schedule" is called as "Test Plan" now.

    '
