---
openapi: 3.0.0
info:
  title: Autify API
  version: v1
  description: |
    ## Authorization
    You can authenticate the API by using a personal access token and passing it to the Bearer header. To generate or manage API keys、please visit [your account page](https://app.autify.com/settings).

    If the credentials are invalid or omitted, an error message is returned with status code 401：
    ```
    {
      "errors":[{
        "message": "Bad credentials"
      }]
    }
    ```
servers:
- url: https://app.autify.com/api/v1/
  description: Production server
paths:
  "/schedules/{schedule_id}":
    post:
      operationId: executeSchedule
      summary: Run a test plan.
      description: |
        "Schedule" is called as "Test Plan" now.\
        If you want to run a test plan, use this endpoint.
      tags:
      - schedule
      security:
      - bearerAuth: []
      parameters:
      - name: schedule_id
        in: path
        required: true
        description: 'For example, 3 for the following URL: https://app.autify.com/projects/1/test_plans/3

          '
        schema:
          type: integer
      requestBody:
        description: The options to execute a test plan.
        required: false
        content:
          application/json:
            schema:
              type: object
              "$ref": "#/components/schemas/ExecuteScheduleRequest"
      responses:
        '200':
          description: |
            ok

            `123456` in the example response is the test plan result ID.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                        example: 123456
                      type:
                        type: string
                        example: test_plan_result
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 123456
                    required:
                    - id
                    - type
                    - attributes
                required:
                - data
        '401':
          description: Bad credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          default: Bad credentials
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          default: Not Found
  "/projects/{project_id}/scenarios":
    get:
      operationId: listScenarios
      description: 'List scenarios.

        '
      tags:
      - scenario
      security:
      - bearerAuth: []
      parameters:
      - name: project_id
        in: path
        required: true
        description: 'For example, 1 for the following URL: https://app.autify.com/projects/1/scenarios

          '
        schema:
          type: integer
      - name: page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
        description: The number of page returns.
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Scenario"
  "/projects/{project_id}/scenarios/{scenario_id}":
    get:
      operationId: describeScenario
      description: |
        Get a scenario, with its steps, data table and variables.

        Each step names its keyword by the canonical English name that
        `listStepKeywords` publishes, and lists its arguments in that keyword's
        argument order. An argument that targets an element carries the locators
        Autify matches it by, rather than a placeholder.

        An `Execute Step Group` step is reported as a reference to its step group
        rather than expanded in place; read the group itself with this endpoint,
        using the `step_group_id` from the step's argument.

        A step recorded on a password field is masked: values typed into it are
        returned as `******` and the element's `candidate_locators` are withheld,
        as on `describeTestCaseResult`.
      tags:
      - scenario
      security:
      - bearerAuth: []
      parameters:
      - name: project_id
        in: path
        required: true
        description: 'For example, 1 for the following URL: https://app.autify.com/projects/1/scenarios/2

          '
        schema:
          type: integer
      - name: scenario_id
        in: path
        required: true
        description: 'For example, 2 for the following URL: https://app.autify.com/projects/1/scenarios/2

          '
        schema:
          type: integer
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ScenarioDetail"
    put:
      operationId: updateScenario
      description: 'Update a scenario.

        '
      tags:
      - scenario
      security:
      - bearerAuth: []
      parameters:
      - name: project_id
        in: path
        required: true
        description: 'For example, 1 for the following URL: https://app.autify.com/projects/1/scenarios/2

          '
        schema:
          type: integer
      - name: scenario_id
        in: path
        required: true
        description: 'For example, 2 for the following URL: https://app.autify.com/projects/1/scenarios/2

          '
        schema:
          type: integer
      requestBody:
        description: The scenario to update
        required: true
        content:
          application/json:
            schema:
              type: object
              "$ref": "#/components/schemas/UpdateScenarioRequest"
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ScenarioDetail"
        '400':
          description: |
            `on_create` was false and a label name this project does not have was
            supplied, or `on_create` was neither `true` nor `false`, or a label name
            the project would have to create is not a valid label name, or
            `version_token` was sent empty rather than omitted.
        '412':
          description: |
            The scenario changed after the version you named. Read the scenario again and
            retry against the `version_token` you get back.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                          default: 412
                        message:
                          type: string
  "/projects/{project_id}/scenarios/{scenario_id}/duplications":
    post:
      operationId: duplicateScenario
      description: 'Duplicate a scenario.

        '
      tags:
      - scenario
      security:
      - bearerAuth: []
      parameters:
      - name: project_id
        in: path
        required: true
        description: 'For example, 1 for the following URL: https://app.autify.com/projects/1/scenarios/2

          '
        schema:
          type: integer
      - name: scenario_id
        in: path
        required: true
        description: 'For example, 2 for the following URL: https://app.autify.com/projects/1/scenarios/2

          '
        schema:
          type: integer
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ScenarioDetail"
  "/projects/{project_id}/scenarios/{scenario_id}/results":
    get:
      operationId: listScenarioResults
      summary: List the test results of one scenario.
      description: |
        List the test results of a single scenario, newest first.

        Each entry is one execution of that scenario on one capability, so a
        scenario run against three browsers contributes three entries. Use this
        to see how one scenario has been doing over time, which `listResults`
        cannot answer: that endpoint returns whole test plan executions and is
        filterable only by test plan.

        `review_needed` is the number of "Review needed" element warnings raised
        by that execution. A count that climbs over recent results means the
        scenario's element locators are drifting.
      tags:
      - result
      security:
      - bearerAuth: []
      parameters:
      - name: project_id
        in: path
        required: true
        description: 'For example, 1 for the following URL: https://app.autify.com/projects/1/scenarios/2

          '
        schema:
          type: integer
      - name: scenario_id
        in: path
        required: true
        description: 'For example, 2 for the following URL: https://app.autify.com/projects/1/scenarios/2

          '
        schema:
          type: integer
      - name: page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
        description: The number of page returns.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 30
        description: The number of items returns. Default number is 30 and up to a
          maximum of 100
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/ScenarioTestCaseResult"
  "/projects/{project_id}/results":
    get:
      operationId: listResults
      summary: List test results.
      description: 'List test results.

        '
      tags:
      - result
      security:
      - bearerAuth: []
      parameters:
      - name: project_id
        in: path
        required: true
        description: 'For example, 1 for the following URL: https://app.autify.com/projects/1/results

          '
        schema:
          type: integer
      - name: page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
        description: The number of page returns.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 30
        description: The number of items returns. Default number is 30 and up to a
          maximum of 100
      - name: test_plan_id
        in: query
        required: false
        schema:
          type: integer
        description: Test plan ID used to filter results.
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/TestPlanResult"
  "/projects/{project_id}/results/{result_id}":
    get:
      operationId: describeResult
      summary: Get a test result.
      description: 'Get a test result.

        '
      tags:
      - result
      security:
      - bearerAuth: []
      parameters:
      - name: project_id
        in: path
        required: true
        description: 'For example, 1 for the following URL: https://app.autify.com/projects/1/results/4

          '
        schema:
          type: integer
      - name: result_id
        in: path
        required: true
        description: 'For example, 4 for the following URL: https://app.autify.com/projects/1/results/4

          '
        schema:
          type: integer
      - name: get_details
        in: query
        required: false
        description: 'The flag to get details of the test case result.

          '
        schema:
          type: boolean
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  status:
                    "$ref": "#/components/schemas/TestPlanResultStatus"
                  duration:
                    type: integer
                  started_at:
                    type: string
                    format: date-time
                  finished_at:
                    type: string
                    format: date-time
                  created_at:
                    type: string
                    format: date-time
                  updated_at:
                    type: string
                    format: date-time
                  review_needed:
                    type: boolean
                  test_plan_capability_results:
                    type: array
                    items:
                      "$ref": "#/components/schemas/TestPlanCapabilityResult"
                  test_plan:
                    "$ref": "#/components/schemas/TestPlan"
  "/projects/{project_id}/test_case_results/{test_case_result_id}":
    get:
      operationId: describeTestCaseResult
      summary: Get the steps and element locators of a test case result.
      description: |
        Get the step-by-step breakdown of a single test case result, including the
        element locators Autify resolved for each step.

        A "test case result" is the execution of one scenario on one capability.
        You can obtain its ID from the `test_plan_capability_results[].test_case_results[].id`
        field returned by `describeResult`.

        Use this to see which step failed and why, and to read back the locators
        Autify generated for an element, which are usually better than a selector
        you would write by hand.

        Note: a step reports its keyword as `action_type`, the same enum
        `listStepKeywords` and `describeScenario` use, rather than as a name. The
        localized label the UI shows appears only in `describeResult` (`get_details`).

        Values typed into a password field are returned as `******`.
      tags:
      - result
      security:
      - bearerAuth: []
      parameters:
      - name: project_id
        in: path
        required: true
        description: 'For example, 1 for the following URL: https://app.autify.com/projects/1/results/4

          '
        schema:
          type: integer
      - name: test_case_result_id
        in: path
        required: true
        description: |
          The ID of the test case result. Obtainable from the `test_case_results[].id`
          field of `describeResult`.
        schema:
          type: integer
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/TestCaseResultDetail"
  "/projects/{project_id}/capabilities":
    get:
      operationId: listCapabilities
      description: 'List available Capabilities.

        '
      tags:
      - capability
      security:
      - bearerAuth: []
      parameters:
      - name: project_id
        in: path
        required: true
        description: 'For example, 1 for the following URL: https://app.autify.com/projects/1/capabilities

          '
        schema:
          type: integer
      - in: query
        name: os
        schema:
          type: string
        description: os name to filter (deprecated)
        deprecated: true
      - in: query
        name: os_type
        description: Type of the os to filter
        schema:
          "$ref": "#/components/schemas/OsTypeEnum"
      - in: query
        name: browser
        schema:
          type: string
        description: browser name to filter (deprecated)
        deprecated: true
      - in: query
        name: browser_type
        description: Type of the browser to filter
        schema:
          "$ref": "#/components/schemas/BrowserTypeEnum"
      - in: query
        name: device_type
        description: device_type name to filter (mobile is deprecated)
        schema:
          "$ref": "#/components/schemas/DeviceTypeEnum"
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/CapabilityOption"
  "/projects/{project_id}/step_keywords":
    get:
      operationId: listStepKeywords
      description: |
        List every step keyword an Autify NoCode Web scenario can be built from,
        with the ordered argument signature of each.

        Supply a step's arguments in the order `arguments` gives them. A keyword
        whose `included_in_plan` is false is not part of this workspace's plan, and
        writing a step that uses it is rejected; every keyword is listed either way,
        so the whole vocabulary is visible.

        `keyword` is the canonical English name and is what the rest of the API
        expects, whatever language the workspace is set to.
      tags:
      - scenario
      security:
      - bearerAuth: []
      parameters:
      - name: project_id
        in: path
        required: true
        description: 'For example, 1 for the following URL: https://app.autify.com/projects/1/scenarios

          '
        schema:
          type: integer
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/StepKeyword"
  "/projects/{project_id}/execute_scenarios":
    post:
      operationId: executeScenarios
      description: 'You can execute any scenarios in your workspace using any execution
        environments (which is called "capabilities" here).

        '
      tags:
      - scenario
      security:
      - bearerAuth: []
      parameters:
      - name: project_id
        in: path
        required: true
        description: 'For example, 1 for the following URL: https://app.autify.com/projects/1/scenarios

          '
        schema:
          type: integer
      requestBody:
        description: The scenarios and settings to execute
        required: true
        content:
          application/json:
            schema:
              type: object
              "$ref": "#/components/schemas/ExecuteScenariosRequest"
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                "$ref": "#/components/schemas/ExecuteScenariosResult"
        '401':
          description: Bad credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                          default: 401
                        message:
                          type: string
                          default: Bad credentials
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                          default: 404
                        message:
                          type: string
                          default: Not Found
  "/projects/{project_id}/autify_connect/access_points":
    get:
      operationId: listAccessPoints
      description: 'List access points for the project.

        '
      tags:
      - autify_connect
      security:
      - bearerAuth: []
      parameters:
      - name: project_id
        in: path
        required: true
        description: 'For example, 1 for the following URL: https://app.autify.com/projects/1/scenarios

          '
        schema:
          type: integer
      - name: page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
        description: The number of page returns.
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/AccessPoint"
    post:
      operationId: createAccessPoint
      description: 'You can generate a new access point by passing in its name.

        '
      tags:
      - autify_connect
      security:
      - bearerAuth: []
      parameters:
      - name: project_id
        in: path
        required: true
        description: 'For example, 1 for the following URL: https://app.autify.com/projects/1/scenarios

          '
        schema:
          type: integer
      requestBody:
        description: The name of the access point to be created
        required: true
        content:
          application/json:
            schema:
              type: object
              "$ref": "#/components/schemas/CreateAccessPointRequest"
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                "$ref": "#/components/schemas/CreateAccessPointResult"
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                          default: 400
                        message:
                          type: string
                          default: Access Point Name {access point name} has already
                            been taken
    delete:
      operationId: deleteAccessPoint
      description: 'You can delete an access point by passing in its name.

        '
      tags:
      - autify_connect
      security:
      - bearerAuth: []
      parameters:
      - name: project_id
        in: path
        required: true
        description: 'For example, 1 for the following URL: https://app.autify.com/projects/1/scenarios

          '
        schema:
          type: integer
      requestBody:
        description: The name of the access point to be deleted
        required: true
        content:
          application/json:
            schema:
              type: object
              "$ref": "#/components/schemas/DeleteAccessPointRequest"
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                          default: 404
                        message:
                          type: string
                          default: Access Point {access point name} was not found.
  "/test_plans/{test_plan_id}/url_replacements":
    post:
      operationId: createUrlReplacement
      description: 'Create a new url replacement for the test plan

        '
      tags:
      - url_replacement
      security:
      - bearerAuth: []
      parameters:
      - name: test_plan_id
        in: path
        required: true
        description: 'For example, 15 for the following URL: https://app.autify.com/projects/1/test_plans/15

          '
        schema:
          type: integer
      requestBody:
        description: The url to replace
        required: true
        content:
          application/json:
            schema:
              type: object
              "$ref": "#/components/schemas/CreateUrlReplacementRequest"
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                "$ref": "#/components/schemas/UrlReplacement"
    get:
      operationId: listUrlReplacements
      description: 'List url replacements for the test plan

        '
      tags:
      - url_replacement
      security:
      - bearerAuth: []
      parameters:
      - name: test_plan_id
        in: path
        required: true
        description: 'For example, 15 for the following URL: https://app.autify.com/projects/1/test_plans/15

          '
        schema:
          type: integer
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/UrlReplacement"
  "/test_plans/{test_plan_id}/url_replacements/{url_replacement_id}":
    put:
      operationId: updateUrlReplacement
      description: 'Update a url replacement for the test plan

        '
      tags:
      - url_replacement
      security:
      - bearerAuth: []
      parameters:
      - name: test_plan_id
        in: path
        required: true
        description: 'For example, 15 for the following URL: https://app.autify.com/projects/1/test_plans/15

          '
        schema:
          type: integer
      - name: url_replacement_id
        in: path
        required: true
        description: 'url_replacement id

          '
        schema:
          type: integer
      requestBody:
        description: The url to replace. Either pattern_url or replacement_url is
          required.
        required: true
        content:
          application/json:
            schema:
              type: object
              "$ref": "#/components/schemas/UpdateUrlReplacementRequest"
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                "$ref": "#/components/schemas/UrlReplacement"
    delete:
      operationId: deleteUrlReplacement
      description: 'Delete a url replacement for the test plan

        '
      tags:
      - url_replacement
      security:
      - bearerAuth: []
      parameters:
      - name: test_plan_id
        in: path
        required: true
        description: 'For example, 15 for the following URL: https://app.autify.com/projects/1/test_plans/15

          '
        schema:
          type: integer
      - name: url_replacement_id
        in: path
        required: true
        description: 'url_replacement id

          '
        schema:
          type: integer
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: string
                example: ok
  "/test_plans/{test_plan_id}/test_plan_variables":
    post:
      operationId: createTestPlanVariable
      description: 'Create a new variable for the test plan

        '
      tags:
      - test_plan_variable
      security:
      - bearerAuth: []
      parameters:
      - name: test_plan_id
        in: path
        required: true
        description: 'For example, 15 for the following URL: https://app.autify.com/projects/1/test_plans/15

          '
        schema:
          type: integer
      requestBody:
        description: The new variable key and default value to use in the test plan
        required: true
        content:
          application/json:
            schema:
              type: object
              "$ref": "#/components/schemas/CreateTestPlanVariableRequest"
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                "$ref": "#/components/schemas/TestPlanVariable"
        '400':
          description: An error occured when creating the variable (most likely, the
            variable key is already taken)
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
    get:
      operationId: listTestPlanVariable
      description: 'List the test plan''s variables

        '
      tags:
      - test_plan_variable
      security:
      - bearerAuth: []
      parameters:
      - name: test_plan_id
        in: path
        required: true
        description: 'For example, 15 for the following URL: https://app.autify.com/projects/1/test_plans/15

          '
        schema:
          type: integer
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/TestPlanVariable"
  "/test_plans/{test_plan_id}/test_plan_variables/{test_plan_variable_id}":
    put:
      operationId: updateTestPlanVariable
      description: 'Update a url replacement for the test plan

        '
      tags:
      - test_plan_variable
      security:
      - bearerAuth: []
      parameters:
      - name: test_plan_id
        in: path
        required: true
        description: 'For example, 15 for the following URL: https://app.autify.com/projects/1/test_plans/15

          '
        schema:
          type: integer
      - name: test_plan_variable_id
        in: path
        required: true
        description: 'test_plan_variable id

          '
        schema:
          type: integer
      requestBody:
        description: The variable's new key and/or default_value's value to register
        required: true
        content:
          application/json:
            schema:
              type: object
              "$ref": "#/components/schemas/UpdateTestPlanVariableRequest"
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                "$ref": "#/components/schemas/TestPlanVariable"
        '400':
          description: An error occured when creating the variable (most likely, the
            variable key is already taken)
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
    delete:
      operationId: deleteTestPlanVariable
      description: 'Delete an existing test plan variable for the test plan

        '
      tags:
      - test_plan_variable
      security:
      - bearerAuth: []
      parameters:
      - name: test_plan_id
        in: path
        required: true
        description: 'For example, 15 for the following URL: https://app.autify.com/projects/1/test_plans/15/

          '
        schema:
          type: integer
      - name: test_plan_variable_id
        in: path
        required: true
        description: 'test_plan_variable id

          '
        schema:
          type: integer
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: string
                example: ok
  "/projects/{project_id}/credits":
    get:
      operationId: getCreditUsage
      description: |
        Get the number of credits used in the project\
        \
        Notes:\
        This endpoint works only for organizations on credit-based plans. It always returns 0 for `credits_consumed` and `credit_consumption_event_count` if your organization is on a run-based plan.
      tags:
      - credit
      security:
      - bearerAuth: []
      parameters:
      - name: project_id
        in: path
        required: true
        description: 'For example, 1 for the following URL: https://app.autify.com/projects/1/credits

          '
        schema:
          type: integer
      - name: date_from
        in: query
        required: false
        description: |
          The date to start counting used credits from.\
          If not specified, the date will be set to 1 week ago.\
          Up to 90 days in advance can be specified. If the specified date is more than 90 days in the past, the date will be set to 90 days ago.\
          Date must follow the format YYYY-MM-DD (example: "2023-09-21").
        schema:
          type: string
          format: date
          example: '2023-09-21'
      - name: date_to
        in: query
        required: false
        description: |
          The date to end counting used credits from.\
          If not specified, the date will be set to today.\
          Date must follow the format YYYY-MM-DD (example: "2023-09-28").
        schema:
          type: string
          format: date
          example: '2023-09-28'
      - name: scenario_id
        in: query
        required: false
        description: 'The scenario ID to filter used credits by.

          '
        schema:
          type: integer
      - name: test_plan_id
        in: query
        required: false
        description: 'The test plan ID to filter used credits by.

          '
        schema:
          type: integer
      - name: user_id
        in: query
        required: false
        description: 'The user ID that executed tests to filter used credits by.

          '
        schema:
          type: integer
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                "$ref": "#/components/schemas/UsedCredits"
  "/projects/{project_id}/project_info":
    get:
      operationId: getProjectInfo
      description: 'Get project information.

        '
      tags:
      - project
      security:
      - bearerAuth: []
      parameters:
      - name: project_id
        in: path
        required: true
        description: 'For example, 1 for the following URL: https://app.autify.com/projects/1/project_info

          '
        schema:
          type: integer
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                "$ref": "#/components/schemas/ProjectInfo"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: http
  schemas:
    Scenario:
      properties:
        id:
          type: integer
        name:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        author:
          "$ref": "#/components/schemas/User"
        updater:
          "$ref": "#/components/schemas/User"
        labels:
          type: array
          items:
            "$ref": "#/components/schemas/Label"
    ScenarioDetail:
      properties:
        id:
          type: integer
        version_token:
          type: string
          description: |
            Opaque version of the scenario as returned. Send it back as `version_token` on
            an update to have that update rejected if the scenario changed in between.
        name:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        author:
          "$ref": "#/components/schemas/User"
        updater:
          "$ref": "#/components/schemas/User"
        description:
          type: string
        project_url:
          type: string
        steps:
          type: array
          description: 'The scenario''s steps, in execution order.

            '
          items:
            "$ref": "#/components/schemas/ScenarioStep"
        data_table:
          type: array
          description: 'The scenario''s data table, one entry per row.

            '
          items:
            type: object
        variables:
          "$ref": "#/components/schemas/ScenarioVariables"
        labels:
          type: array
          items:
            "$ref": "#/components/schemas/Label"
    ScenarioStep:
      properties:
        id:
          type: integer
        action_type:
          type: string
          nullable: true
          description: |
            The step's keyword in enum form, for example `INPUT_TEXT`. This is the
            same value the write API takes, and the `action_type` `listStepKeywords`
            publishes. Null for a legacy keyword that has no enum member.
        name:
          type: string
          description: The step's name, as shown in the scenario editor.
        memo:
          type: string
        on_failure:
          type: string
          enum:
          - abort
          - continue
          - ignore
          description: What the run does when this step fails.
        step_execution_type:
          type: string
          enum:
          - scenario_step
          - cleanup_step
          description: |
            Whether the step runs as part of the scenario or as a cleanup step
            afterwards.
        assign:
          type: string
          nullable: true
          description: |
            The identifier this step's result is assigned to. Two kinds of value
            appear here. A step that an export variable reads from carries that
            variable's key, which you chose. A JavaScript step instead carries a
            generated key shaped `${<32 hex characters>}`, which is machine-owned:
            copy it verbatim and do not invent one. An `assign` does not imply that
            an export variable exists for the step.
        arguments:
          type: array
          description: |
            The step's arguments, in the order `listStepKeywords` gives them for
            this keyword. Optional arguments the step does not set are absent, so
            match an argument by its `name` rather than by position.

            A run's steps carry the same names and types, under `ResultStepArgument`,
            with a different arity: this endpoint leaves out an optional argument the
            step never set, while a run emits every slot its keyword declares. There a
            `file` argument reports just `file_name`, and `step_group` appears only
            here.
          items:
            "$ref": "#/components/schemas/ScenarioStepArgument"
    ScenarioStepArgument:
      description: 'An argument to a step. Which fields are present depends on `type`.

        '
      properties:
        name:
          type: string
          nullable: true
          description: |
            Name of the argument, matching the `name` `listStepKeywords` publishes
            for this keyword's argument in the same slot.
        type:
          type: string
          enum:
          - text
          - url
          - file
          - element
          - step_group
          description: |
            `text` and `url` carry `value`. `file` carries `file_name`,
            `file_size` and `object_key`. `element` carries `element_id`,
            `user_locator` and `candidate_locators`. `step_group` carries
            `step_group_id`.
        value:
          description: |
            The value, for a `text` or `url` argument. A value typed into a
            password field is returned as `******`.
          oneOf:
          - type: string
          - type: boolean
        element_id:
          type: integer
          description: 'Identifier of the element this step targets. Read only.

            '
        user_locator:
          type: string
          nullable: true
          description: |
            The CSS or XPath selector pinned to this element, if one is set. The
            `css:` or `xpath:` prefix is part of the value.
        candidate_locators:
          type: array
          nullable: true
          description: |
            The locators Autify generated for this element on its last passing
            run, which is how the step is matched when no `user_locator` is set.
            Read only, and empty until the scenario has passed once. `null` when
            the step was recorded on a password field, which withholds them.
          items:
            type: string
        file_name:
          type: string
          nullable: true
        file_size:
          type: integer
          nullable: true
        object_key:
          type: string
          nullable: true
        step_group_id:
          type: integer
          description: |
            The step group this step runs. Read it with `describeScenario` using
            this id.
    ResultStepArgument:
      description: |
        An argument to a step of a run. The vocabulary matches `ScenarioStepArgument`;
        which fields are present depends on `type`.
      properties:
        name:
          type: string
          nullable: true
          description: |
            Name of the argument, matching the `name` `listStepKeywords` publishes for
            this keyword's argument in the same slot. Null for a value the run carried
            beyond the arguments the keyword declares.
        type:
          type: string
          enum:
          - text
          - url
          - file
          - element
          description: |
            `text` and `url` carry `value`. `file` carries `file_name`. `element`
            carries `element_id`, `user_locator` and `candidate_locators`.
        value:
          description: |
            The value, for a `text` or `url` argument, and null for a declared slot the
            run did not fill. A boolean argument returns a real boolean, matching what
            `describeScenario` returns for the same step.
          oneOf:
          - type: string
          - type: boolean
        file_name:
          type: string
          nullable: true
          description: The uploaded file's name, without the storage path it is kept
            under.
        element_id:
          type: integer
          nullable: true
          description: ID of the Autify element targeted by the step.
        user_locator:
          type: string
          nullable: true
          description: |
            Locator explicitly specified by the user, when present. Null for a password
            field, whose locator can embed the value.
        candidate_locators:
          type: array
          description: |
            Selectors Autify had available going into this run, the same flat list
            `describeScenario` returns for the element. These come from what Autify
            learned on earlier runs, so a step that has never passed has none.
            They work as a set, not as alternatives. When Autify matches on them it
            requires every one to resolve to the same element, so a single one may be
            ambiguous alone and is not safe to pin on its own. Order is the order Autify
            generated them in, and carries no ranking. Empty for a password field, whose
            locators can embed the value.
          items:
            type: string
    ScenarioVariables:
      properties:
        import:
          type: array
          items:
            type: object
            properties:
              key:
                type: string
              default_value:
                type: string
        export:
          type: array
          items:
            type: object
            properties:
              key:
                type: string
              step_id:
                type: integer
                nullable: true
    AccessPoint:
      properties:
        name:
          type: string
        last_use:
          type: string
          format: date-time
        creator:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
      - name
      - creator
      - created_at
      - updated_at
    UrlReplacement:
      properties:
        id:
          type: integer
        test_plan_id:
          type: integer
        pattern_url:
          type: string
        replacement_url:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
      - id
      - test_plan_id
      - pattern_url
      - replacement_url
      - created_at
      - updated_at
    DeviceTypeEnum:
      type: string
      description: mobile is deprecated and will be replaced by smartphone
      enum:
      - desktop
      - mobile
      - smartphone
      - tablet
      - emulator
    BrowserTypeEnum:
      type: string
      enum:
      - chrome
      - firefox
      - safari
      - edge
      - edge_legacy
      - ie
    TimezoneEnum:
      type: string
      enum:
      - JST
      - UTC
      - Asia/Tokyo
      - Etc/UTC
    OsTypeEnum:
      type: string
      enum:
      - macos
      - linux
      - windows
      - windows_server
      - ios
      - android
    Capability:
      properties:
        id:
          type: integer
        os:
          type: string
        os_version:
          type: string
        browser:
          type: string
        browser_version:
          type: string
        device:
          type: string
        timezone:
          "$ref": "#/components/schemas/TimezoneEnum"
        resolution:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    CapabilityOption:
      properties:
        os:
          type: string
        os_type:
          "$ref": "#/components/schemas/OsTypeEnum"
        os_version:
          type: string
        browser:
          type: string
        browser_type:
          "$ref": "#/components/schemas/BrowserTypeEnum"
        browser_version:
          type: string
        device:
          type: string
        device_type:
          "$ref": "#/components/schemas/DeviceTypeEnum"
        unsupported:
          type: boolean
          deprecated: true
          description: "(deprecated)"
    StepKeyword:
      properties:
        keyword:
          type: string
          description: |
            Canonical English name of the keyword, for example `Input Text`. This is
            the name the rest of the API expects, in every workspace language.
        action_type:
          type: string
          description: 'The same keyword in enum form, for example `INPUT_TEXT`.

            '
        included_in_plan:
          type: boolean
          description: |
            Whether this workspace's plan includes the keyword. Writing a step whose
            keyword is not included is rejected with 402.
        arguments:
          type: array
          description: |
            The keyword's arguments, in the order they must be supplied. Empty for a
            keyword that takes none.
          items:
            "$ref": "#/components/schemas/StepKeywordArgument"
    StepKeywordArgument:
      properties:
        name:
          type: string
          description: Name of the argument as the scenario editor shows it.
        type:
          type: string
          enum:
          - text
          - url
          - file
          - element
          description: |
            What the argument accepts. `text` is a plain string, `url` an address,
            `file` an uploaded file, and `element` an element on the page.
        element_type:
          type: string
          description: |
            Present only when `type` is `element` and the keyword expects a particular
            kind of element, for example `element_textfield` for Input Text or
            `element_checkbox` for Checkbox Should Be Selected.

            An element is supplied as a locator string whose `css:` or `xpath:` prefix
            is mandatory: a `css:` selector descends into shadow DOM where `xpath:`
            does not, the first match wins if a selector is ambiguous, a selector
            resolving outside `<body>` raises, and the lookup is retried for 30 seconds
            before the step fails.
        required:
          type: boolean
    TestPlan:
      type: object
      nullable: true
      properties:
        id:
          type: integer
        name:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    TestPlanResult:
      properties:
        id:
          type: integer
        status:
          "$ref": "#/components/schemas/TestPlanResultStatus"
        duration:
          type: integer
        started_at:
          type: string
          format: date-time
        finished_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        review_needed:
          type: boolean
        test_plan:
          "$ref": "#/components/schemas/TestPlan"
    TestPlanCapabilityResult:
      properties:
        id:
          type: integer
        capability:
          "$ref": "#/components/schemas/Capability"
        test_case_results:
          type: array
          items:
            "$ref": "#/components/schemas/TestCaseResult"
    TestCaseResult:
      properties:
        id:
          type: integer
        status:
          "$ref": "#/components/schemas/TestCaseResultStatus"
        duration:
          type: integer
        started_at:
          type: string
          format: date-time
        finished_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        test_case_id:
          type: integer
          description: ID of the scenario executed.
        project_url:
          type: string
        review_needed:
          type: integer
          description: Number of "Review needed" flags present in the test results.
        number_of_credits_consumed:
          type: integer
          description: Number of credits consumed by this test result. (default 0
            for test result created before credit based system)
        import_variables:
          description: THIS FEATURE IS FOR LIMITED NUMBER OF CUSTOMERS. Variables
            imported from previously executed test results in a test plan.
          type: array
          items:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
              set_by:
                type: object
                properties:
                  type:
                    type: string
                  id:
                    type: integer
        export_variables:
          description: THIS FEATURE IS FOR LIMITED NUMBER OF CUSTOMERS. Variables
            exported from this test result.
          type: array
          items:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
    ScenarioTestCaseResult:
      allOf:
      - "$ref": "#/components/schemas/TestCaseResult"
      - type: object
        properties:
          capability:
            allOf:
            - "$ref": "#/components/schemas/Capability"
            nullable: true
    TestCaseResultDetail:
      type: object
      properties:
        id:
          type: integer
        scenario_id:
          type: integer
          description: ID of the scenario (test case) that was executed.
        status:
          "$ref": "#/components/schemas/TestCaseResultStatus"
        started_at:
          type: string
          format: date-time
        finished_at:
          type: string
          format: date-time
        duration:
          type: integer
        project_url:
          type: string
        capability:
          "$ref": "#/components/schemas/Capability"
        steps:
          type: array
          items:
            "$ref": "#/components/schemas/TestCaseResultStep"
    TestCaseResultStep:
      type: object
      properties:
        index:
          type: string
          description: |
            Step number within the executed test case, matching the numbering shown
            in the result UI and returned by `describeResult` (`get_details`). Steps
            inside a step group collapse onto one first-level number and get a
            sub-number, e.g. "1", "2", "3-1", "3-2".
        id:
          type: integer
          description: |
            ID of the scenario step this ran, the same identifier `describeScenario`
            returns as a step's `id`.
        composite_id:
          type: string
          description: Identifier that is unique even when the step runs inside a
            step group.
        name:
          type: string
          description: Human-readable name of the step.
        on_failure:
          type: string
          enum:
          - abort
          - continue
          - ignore
          description: What the run does when this step fails.
        step_execution_type:
          type: string
          enum:
          - scenario_step
          - cleanup_step
          description: |
            Whether the step runs as part of the scenario or as a cleanup step
            afterwards.
        action_type:
          type: string
          description: |
            The action identifier `listStepKeywords` and `describeScenario` also use,
            so a run's step and the scenario step it came from read the same way. A step
            whose keyword the catalog does not have is not returned at all, where
            `describeScenario` keeps it with a null `action_type`; the gap it leaves in
            `index` is the only trace of it here.
        arguments:
          type: array
          description: |
            The step's arguments, in the order `listStepKeywords` gives them for this
            keyword, each carrying the `name` that catalog publishes. A value typed
            into a password field is returned as `******`.
          items:
            "$ref": "#/components/schemas/ResultStepArgument"
        status:
          type: string
          description: Result of the step.
          enum:
          - passed
          - failed
          - skipped
        error_message:
          type: string
          nullable: true
          description: Error message when the step failed.
        match:
          type: object
          nullable: true
          description: |
            How this run found the element. Absent when the step targets no element,
            when the step failed before finding one, and for results captured before
            Autify recorded how it matched.
          properties:
            located_by:
              type: string
              description: |
                How Autify found the element: `user_locator` when it matched the locator
                you specified on the step, `automatic` when Autify matched it for you.
              enum:
              - user_locator
              - automatic
            confidence:
              type: number
              nullable: true
              description: |
                How confident Autify was in the element it matched. Around 1 is an
                exact match; lower means a looser one.
            candidate_locators:
              type: array
              nullable: true
              description: |
                Selectors Autify generated from the element it actually found. These are
                what later runs will match on.
                They work as a set, not as alternatives. When Autify matches on them it
                requires every one to resolve to the same element, so a single one may be
                ambiguous alone and is not safe to pin on its own. Order is the order Autify
                generated them in, and carries no ranking.
              items:
                type: string
        url_events:
          type: array
          description: |
            The URL the browser was on when the step started and when it finished, so a
            step that navigated can be told from one that did not. Only URLs of the
            application under test appear: not the browser's own start page, so the first
            step usually reports just its end, and not Autify's email inbox, which a step
            that opens an email navigates to.
          items:
            type: object
            properties:
              timing:
                type: string
                enum:
                - stepStart
                - stepEnd
              url:
                type: string
              at:
                type: integer
                description: Unix timestamp in milliseconds.
    Label:
      properties:
        id:
          type: integer
        name:
          type: string
        color:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    ExecuteScheduleRequest:
      properties:
        autify_connect:
          type: object
          required:
          - name
          properties:
            name:
              type: string
              nullable: true
              description: The name of access point to override the original settings.
                When null is given, the test_plan will run without Autify Connect.
    ExecuteScenariosRequest:
      required:
      - capabilities
      - scenarios
      properties:
        name:
          type: string
          description: Defaults to "API execution {{time_at(Time.now, organization.timezone)}}"
        execution_type:
          description: Defaults to "parallel" ("sequential" In case parallel execution
            was disabled in the workspace)
          type: string
          enum:
          - parallel
          - sequential
          default: parallel
        capabilities:
          type: array
          items:
            type: object
            properties:
              os:
                type: string
                deprecated: true
              os_type:
                "$ref": "#/components/schemas/OsTypeEnum"
              os_version:
                type: string
              device:
                type: string
              browser:
                type: string
                deprecated: true
              browser_type:
                "$ref": "#/components/schemas/BrowserTypeEnum"
              browser_version:
                type: string
              timezone:
                "$ref": "#/components/schemas/TimezoneEnum"
        url_replacements:
          type: array
          items:
            type: object
            "$ref": "#/components/schemas/CreateUrlReplacementRequest"
        scenarios:
          type: array
          items:
            type: object
            required:
            - id
            properties:
              id:
                type: integer
        autify_connect:
          type: object
          required:
          - name
          properties:
            name:
              type: string
    ExecuteScenariosResult:
      required:
      - result_id
      properties:
        result_id:
          type: integer
    CreateAccessPointRequest:
      required:
      - name
      properties:
        name:
          type: string
          description: Name of the access point to be created
    DeleteAccessPointRequest:
      required:
      - name
      properties:
        name:
          type: string
          description: Name of the access point to be deleted
    CreateAccessPointResult:
      required:
      - name
      - key
      - creator
      properties:
        name:
          type: string
        key:
          type: string
        creator:
          type: string
        last_use:
          type: string
        created_at:
          type: string
        updated_at:
          type: string
    CreateUrlReplacementRequest:
      properties:
        pattern_url:
          type: string
          example: https://example.com
        replacement_url:
          type: string
          example: https://example.net
      required:
      - pattern_url
      - replacement_url
    UpdateUrlReplacementRequest:
      properties:
        pattern_url:
          type: string
          example: https://example.com
        replacement_url:
          type: string
          example: https://example.net
    TestPlanVariable:
      properties:
        id:
          type: integer
        test_plan_id:
          type: integer
        key:
          type: string
        default_value:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
      - id
      - test_plan_id
      - key
      - default_value
      - created_at
      - updated_at
    CreateTestPlanVariableRequest:
      properties:
        key:
          type: string
          example: ANY_VARIABLE_NAME
        default_value:
          type: string
          example: https://example.net
    UpdateTestPlanVariableRequest:
      properties:
        key:
          type: string
          example: ANY_VARIABLE_NAME
        default_value:
          type: string
          example: https://example.net
    TestPlanResultStatus:
      type: string
      enum:
      - queuing
      - waiting
      - running
      - passed
      - failed
      - skipped
      - internal_error
      - canceled
      default: waiting
    TestCaseResultStatus:
      type: string
      enum:
      - waiting
      - running
      - passed
      - failed
      - skipped
      - internal_error
      - canceled
      default: waiting
    UsedCredits:
      properties:
        date_from:
          type: string
          format: date
          example: '2023-09-21'
        date_to:
          type: string
          format: date
          example: '2023-09-28'
        credits_consumed:
          type: integer
        credit_consumption_event_count:
          type: integer
    ProjectInfo:
      properties:
        id:
          type: integer
        name:
          type: string
        scenarios_count:
          type: integer
        test_plans_count:
          type: integer
    User:
      properties:
        id:
          type: integer
        username:
          type: string
    UpdateScenarioRequest:
      properties:
        version_token:
          type: string
          description: |
            The version of the scenario you are updating, as returned by `version_token`
            when you read it. The update is rejected with 412 if anyone changed the
            scenario's name, description or labels in between, so read it again and retry
            against the version you get back. Running the scenario does not change it. Sending an empty value is an error; omit the field entirely to update
            whatever is there without checking.
        name:
          type: string
        description:
          type: string
        labels:
          type: array
          description: |
            Label names, replacing the scenario's current labels. A name this project
            does not already have is created in it, unless `on_create` is false.

            Only this project's labels are matched, so a label of the same name in
            another project is never attached.
          items:
            type: string
        on_create:
          type: boolean
          default: true
          description: |
            Whether to create a label named in `labels` that this project does not
            have. Set it to false to have an unrecognised name rejected instead,
            which is the safer setting when a name may be a typo.

            Only `true` and `false` are accepted. Any other value is rejected with
            400 rather than being read as `true`, so a typo in this flag cannot
            silently turn label creation back on. A repeated name in `labels` is
            attached once. A name the project would have to create but that the
            label validations reject, such as one over 50 characters, is a 400
            carrying the validation message.
tags:
- name: schedule
  description: '"Schedule" is called as "Test Plan" now.

    '
